* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%) blur(3px)
}
body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
overflow-x: hidden;
}

/* From Uiverse.io by micaelgomestavares */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff25;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  backdrop-filter: blur(5px);
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255, 0.75);;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: white;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #b2b4b2;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}
.inputForm svg {
  fill: white;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(0.01px); */
  background: transparent;
border: 3px solid transparent;
font-weight: 500;
color: #ecedec;
}
/* Autofill fix (Chrome) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff; /* text white */
  transition: background-color 5000s ease-in-out 0s;
}
.eye-logo {
  color: rgba(255, 255, 255, 0.783);
  cursor: pointer;
  margin: 3px;
  font-weight: 200;
  font-size: 23px;
  transition: transform 0.3ms;
}
.eye-logo:active {
  transform: scale(0.92);
}
input::-ms-reveal {
  display: none;
}
.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #042f74a7;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #090b0bc4;
  backdrop-filter: blur(22px);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

    